.header{
    display: flex;
    padding: 0.5rem 0;
    background: var(--white);
    position: sticky;
    top: 0;
}

.header_content{
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logoInputContent{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
}

.logo{
    heigth: 2.125rem;
    width: 2.125rem;
}

.header_content input{
    height: 34px;
    width: 232px;
    border-radius: 3px;
    border: 0;
    background: var(--gray-input);
    padding: 0 0 0 2.25rem;
    transition: 0.3s;
}

.iconSearch{
    position: absolute;
    left: 55px;
    top: 6px;
}

.header_content input:focus{
    width: 322px;
}


.main_menu ul{
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.main_menu ul li{
    padding: 0 1rem;
    border-bottom: 2px solid transparent;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-200);
    cursor: pointer;
}

.main_menu ul li:hover{
    border-bottom: 2px solid var(--black);
    margin-bottom: 0;
}

.main_menu ul li img{
    width: 24px;
    color: red;
}


.activeMenu{
    color: var(--black);
}

.avatarIcon{
    border-radius: 100%;
}
