.sidebar{
    overflow: hidden;
    border-radius: 7px;
    border: solid 1px #ccc;
    background: var(--white);
}

.cover{
    object-fit: cover;
    height: 72px;
    width: 100%;
}

.profile{
    text-align: center;
    padding: 1rem 0;
}

.profile img{
    width: 70px;
    text-align: center;
    border-radius: 100%;
    margin: -3.5rem 0 1.563rem;
}

.profile span{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.profile p a{
    text-decoration: none;
    color: var(--profile-link-blue);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    border-bottom: solid 1px transparent;
}

.profile p a:hover{
    border-bottom: solid 1px var(--profile-link-blue);
}

.profileconections{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    font-size: 1rem;
    
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    
}

.profileconections .conections{
    display: flex;
    flex-direction: column;
}

.profileconections .conections span{
    color: var(--gray-200);
}

.profileconections .conections p{
    color: var(--black);
    font-weight: 600;
    font-size: 0.75rem;
}

.profileconections a{
    font-weight: 600;
    text-decoration: none;
    font-size: 0.75rem;
}

.myitems{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.myitems span{
    color: var(--black);
    line-height: 1rem;
    font-weight: 600;
    font-size: 0.75rem;
}