:root{
    --gray-background: #f3f2ee;
    --gray-input: #eef3f8;
    --gray-100: #00000014;
    --gray-200: #00000099;
    
    --white: #ffffff;

    --profile-link-blue: #0a66c2;


    --black: #000000e6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing: antialiased;
}

html, body{
    background: var(--gray-background);
    font-family: 'system-ui', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

a{
    color: var(--profile-link-blue);
}